<!-- トップページ -->
<div class="container">
	<p id="notice"></p>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% if flash[:notice] %>
		  <p><%= flash[:notice] %></p>
			<% end %>
<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong> !!</h1>
<div>
	In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>,<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!<br>
</div>
<p> <%= link_to "Log in", "users/sign_in", class: "col-lg-12 btn btn-info" %></p>
<p> <%= link_to "Sing Up", "users/sign_up", class: "col-lg-12 btn btn-success" %></p>
</div>
</div>
</div>

